.content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.content__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.container2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.container3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mask: url("/images/textCityMask.svg") no-repeat;
  mask-size: auto 100vh;
  mask-position: 50% 50%;
  transform: translate3d(0, 0, 0);
}

.container3__bg {
  display: block;
  width: 100%;
  height: auto;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.container3__text {
  position: absolute;
  top: 0;
  left: calc(50% - 150vh);
  height: 100vh;
  width: 300vh;
  pointer-events: none;
  opacity: 0;
  transform: scale(1.5);
  transform-origin: center center;
}

.container4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container4__bg {
  display: block;
  width: 100%;
  height: auto;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.container4__text {
  position: absolute;
  top: 0;
  left: calc(50% - 150vh);
  height: 100vh;
  width: 300vh;
  pointer-events: none;
  opacity: 0;
  transform: scale(1.5);
  transform-origin: center center;
  transition: 0;
}

// .content__hover {
//   position: fixed;
//   top: 0;
//   left: -100vw;
//   display: flex;
//   width: 200vw;
//   height: 100vh;
// }

// .content__hover-poligon {
//   width: calc((100vw - 100vh) / 2);
//   height: 100vh;
//   background-color: #000000;
// }

// .content__stub {
//   position: relative;
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
// }

// .content__stub-black {
//   width: 100vw;
//   height: 100vh;
//   background-color: #000000;
// }

// .content__hover-text {
//   position: absolute;
//   top: 0;
//   left: calc(50% - 150vh);
//   display: block;
//   width: 300vh;
//   height: 100vh;
// }

// SECTION TRIGGER
.trigger {
  width: 100%;
  height: 100vh;
}

// DIRECTION
.direction-pointer {
  position: fixed;
  width: 3.75rem;
  height: 5.625rem;
  left: 50%;
  bottom: 0.625rem;
}

.direction-pointer__shevron {
  display: block;
  position: absolute;
  left: 0;
  width: 3.75rem;
  height: 1.875rem;

  &.top {
    top: 0;
  }

  &.middle {
    top: 0.9375rem;
  }

  &.bottom {
    top: 1.875rem;
  }
}
