section.content

  .content__container
    picture
      img(src="./images/night-city-desktop.jpg" alt="")

  .container2

  .container3
    picture
      img(src="./images/night-city-2-desktop.jpg" alt="").container3__bg
    picture
      img(src="./images/textCityText.svg" alt="").container3__text

  .container4
    picture
      img(src="./images/night-city-2-desktop.jpg" alt="").container4__bg
    picture
      img(src="./images/textCityText.svg" alt="").container4__text

section.trigger

//- .direction-pointer
//-   svg.direction-pointer__shevron.top
//-     use(href="#icon-shevron-to-bottom")
//-   svg.direction-pointer__shevron.middle
//-     use(href="#icon-shevron-to-bottom")
//-   svg.direction-pointer__shevron.bottom
//-     use(href="#icon-shevron-to-bottom")