.content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.content__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.content__hover {
  position: absolute;
  top: 0;
  left: -200vw;
  width: 300vw;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.75);
}
