block variables

doctype html
html(lang="ru-RU")
    head
      meta(charset="utf-8")
      title #{title}
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
    body(class=pageClass)
      .main-wrapper
        block content
      script(src="js/jquery.min.js")
      //- script(src="js/popper.min.js")
      //- script(src="js/bootstrap.min.js")
      //- script(src="js/bootstrap-select.min.js")
      //- script(src="js/bootstrap-autocomplete.min.js")
      //- script(src="js/jquery.validate.min.js")
      script(src="js/gsap.min.js")
      //- script(src="js/MotionPathPlugin.min.js")
      //- script(src="js/MotionPathHelper.min.js")
      script(src="js/scrollTrigger.min.js")
      //- script(src="js/scrollToPlugin.min.js")
      //- script(src="js/imask.min.js")
      //- script(src="js/slick.min.js")
      //- script(src="js/lazysizes.min.js")
      //- script(src="js/bootstrap-autocomplete.min.js")
      //- script(src="js/async-google-recaptcha.min.js")
